// color values

// basics
@theme: {}
@strong: {}
@weak: {}

// status
@success: {}
@warn: {}
@error: {}
@info: {}

// sizes
@space: {
  hugest: 32;
  huger: 32;
  huge: 28;
  biggest: 24;
  bigger: 20;
  big: 16;
  middle: 12;
  small: 8;
  smaller: 4;
  smallest: 0;
}
@size: {
  hugest: 30px;
  huger: 28px;
  huge: 26px;
  biggest: 24px;
  bigger: 22px;
  big: 20px;
  middle: 18px;
  small: 16px;
  smaller: 14px;
  smallest: 12px;
}

// grid
@grid-length: 24;