// view/home/search

@import "index";

@view-main-search-bar-height: 80px;
@view-search-list-item-height: 60px;

// main search of home
.ls-view-home-search {
  position: relative;

  // main input
  & &__input {
    .ls-flex();
    height: @view-main-search-bar-height;
    background-color: @weak[strongest];

    > .prefix {
      .ls-flex-static-combo();
      .ls-align-center();
      padding-left: @space[middle];

      .icon {
        color: @strong[strong];
        font-size: @size[huger];
      }
    }
    > .input {
      .ls-flex-combo();
      .ls-align-center();
    }
  }

  // suggest popper
  & &__popper {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    background-color: @weak[strongest];
    box-shadow: 0 3px 10px @shadow[default];

    &__wrap {
      .ls-transition-fast();
      overflow: hidden;
    }
    &__inner {
      padding: @space[middle];
    }
  }
}

// suggest list of search
.ls-view-home-search-list {
  .ls-flex-column();

  & &__item {
    .ls-flex-static-combo();
    .ls-align-center();
    .ls-transition-fastest();
    padding: 0 @space[big];
    height: @view-search-list-item-height;
    user-select: none;

    &__content {
      .ls-flex-combo-column();
      .ls-justify-center();
      padding: 0 @space[middle];
      color: @strong[default];
      min-height: 100%;
      box-sizing: border-box;

      > div {
        .ls-text-overflow-hidden();
      }
    }
    &__prefix,
    &__suffix {
      .ls-flex-static-combo();
      .ls-align-center();
      font-size: @size[biggest];
      color: @strong[default];
    }
    &__suffix {
      font-size: @size[big];
      color: @strong[default];
    }
    &.is-active {
      cursor: pointer;
      background-color: @weak[stronger];
    }
  }
}

/*
.ls-view-home-search-list__button {
  .ls-input__button();
  font-size: @size[middle];
  width: 44px;
  height: 44px;

  &.is-prefix {
    color: @strong[strong];
  }
  &:hover {
    color: @strong[strongest];
  }
}
.ls-view-home-search-list__item.is-active {
  .ls-view-home-search-list__button {
    opacity: 1;
  }
}*/
