// view/home/search

@import "index";

@view-main-search-bar-height: 80px;
.ls-view-home-search {
  position: relative;

  & &__body {
    .ls-flex();

    height: @view-main-search-bar-height;
    background-color: @weak[strongest];
  }
  & &__item {
    .ls-flex-combo();
    .ls-align-center();
    padding: @space[middle];

    &:first-child {
      padding-left: @space[biggest];
    }
    &:last-child {
      padding-right: @space[biggest];
    }

    // status
    &.is-static {
      .ls-flex-static();
    }
    &.is-no-space {
      padding: 0;
    }
  }
  & &__type {
    color: @strong[strong];
    font-size: @size[huger];
  }
  & &__icon-button {
    color: @strong[strong];
    font-size: @size[big];
  }

  & &__popper {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;

    &__wrap {
      .ls-transition-fast();
      overflow: hidden;
    }
    &__inner {
      padding: @space[middle];
    }
  }
}

.ls-view-home-search-list {

}