// component/input
@import "index";

.ls-input {
  .ls-flex-combo();
  .ls-align-center();
  padding: 0 @space[middle];
  width: 100%;
  height: 100%;
  color: @strong[strong];

  & &__inner {
    .ls-flex-combo();
    height: 100%;

    & > input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: @size[small];

      &::placeholder {
        color: @strong[placeholder];
      }
      &[disabled] {
        opacity: .7;
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }
  & &__prefix,
  & &__suffix {
    .ls-flex-static-combo();
    height: 100%;
  }
  & &__prefix {
    padding-right: @space[middle];
  }
  & &__suffix {
    padding-left: @space[middle];
  }

  // sizes
  &.is-size-biggest {

    .ls-input__inner {

      & > input {
        font-size: @size[biggest];
        font-weight: @weight[bold];
      }
    }
    .ls-input__suffix {
      .ls-align-center();
    }
  }
}

/*
.ls-input__button {
  .ls-flex-column();
  .ls-justify-center();
  .ls-align-center();
  .ls-button-text();
  .ls-transition-fastest();
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  font-size: @size[big];
  color: @strong[secondary];
  background-color: transparent;
  z-index: 1;

  &::before {
    .ls-transition-fastest();
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    border-radius: @radius[circle];
    background-color: @weak[weak];
    transform: scale3d(.7, .7, 1);
  }

  &:hover {
    opacity: 1;
    color: @strong[strong];

    &::before {
      opacity: 1;
      transform: scale3d(1, 1, 1);
      background-color: @weak[weak];
    }
  }
  &:active {
    opacity: 1;
    color: @strong[strong];

    &::before {
      opacity: 1;
      transform: scale3d(.9, .9, 1);
      background-color: @strong[placeholder];
    }
  }
  &.is-active {
    color: @strong[default];
  }
}*/
