// component/scrollbar

@import "index";

@ls-scrollbar-padding-column: 4px;
@ls-scrollbar-width: 7px;

.ls-scrollbar {
  position: relative;
  overflow: hidden;

  & &__wrap {
    overflow: scroll;
  }
  & &__thumb {
    .ls-transition-fastest();
    position: relative;
    user-select: none;
    cursor: grab;
    transition-property: opacity;
    background-color: @strong[strongest];
    border-radius: @ls-scrollbar-width;
    opacity: 0;
  }
  & &__bar {
    position: absolute;
    right: @ls-scrollbar-padding-column;
    bottom: @ls-scrollbar-padding-column;
    z-index: 1;
    user-select: none;

    &.is-horizontal {
      height: @ls-scrollbar-width;
      left: @ls-scrollbar-padding-column;

      & > .ls-scrollbar__thumb {
        height: 100%;
      }
    }
    &.is-vertical {
      width: @ls-scrollbar-width;
      top: @ls-scrollbar-padding-column;

      & > .ls-scrollbar__thumb {
        width: 100%;
      }
    }
  }

  &.is-dragging {
    cursor: grabbing;
  }
  &:hover {
    & > .ls-scrollbar__bar {
      & > .ls-scrollbar__thumb {
        opacity: .3;
      }
    }
  }
  & > .ls-scrollbar__bar {

    & > .ls-scrollbar__thumb {
      &:hover {
        opacity: .4;
      }
    }
    &.is-active {
      & > .ls-scrollbar__thumb {
        opacity: .2;
      }
    }
  }
}
